$text-color: white;
$background : url('assets/images/odaiba-night.jpg');

body {
    background-image: $background;
}

#counter {
    color: $text-color;
    font-family: 'Helvetica';

    h3 {
        text-align: center;
    }

    div {
        display: flex;
        justify-content: center;

        button {
            margin: 0 1em;
        }
    }
}